/* This file is for your main application css. */

@import "~bootstrap/scss/bootstrap";

// Login Section
#login-email {
  margin: 0 5px;
}

#login-password {
  margin: 0 5px 0 0;
}

#login-button {
  margin: 0 5px 0 0;
}